/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

.container-footer {
  clear: both;
  height: 60px;
}

.footer {
  position: absolute;
  bottom: 1px;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

input,
select,
textarea {
  max-width: 280px;
}

.topMargin {
  margin-top: 30px;
}

.bottomMargin {
  margin-bottom: 30px;
}

.rightMarginDefault {
  margin-right: 30px;
}

.leftMargin {
  margin-left: 30px;
}

.photoPreview {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.photo {
    width: 100%;
    height: auto;
}

.pull-left {
    float: left !important;
}

.validation {
    color: darkred;
}

.inline-block {
    display: inline-block;
}

.link-button {
    border-width: 0px;
    border-color: transparent;
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
}

.link-button:focus {
  outline: none;
}

.link-button:hover {
  border: 0px;
  color: #0056B3;
  text-decoration: underline;
}
