@using System.Security.Claims
@using Microsoft.AspNetCore.Http.Extensions

<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <span class="nav-link text-dark">Hello @User.FindFirstValue(ClaimTypes.Email)!</span>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline"
            asp-controller="Passport"
            asp-action="Logout">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <form id="loginForm" class="form-inline"
            asp-controller="Passport"
            asp-action="Login"
            asp-route-returnUrl="@Context.Request.GetEncodedPathAndQuery()">
            <button id="login" type="submit" class="nav-link btn btn-link text-dark">Login</button>
        </form>
    </li>
}
</ul>
