@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model GetPhotoModel
@{
    ViewData["Title"] = "Фото";
}

<div class="container">
    <div>
        <img class="photo" src="@("/photos/" + Model.Photo.Id)"/>
    </div>
    <div>
        <div class="h5">@Model.Photo.Title</div>
        <div class="bottomMargin">
            @if ((await AuthorizationService.AuthorizeAsync(User, "Beta")).Succeeded)
            {
                <a asp-controller="Photos" asp-action="EditPhoto" asp-route-id="@Model.Photo.Id">Изменить подпись</a>
                <text>&nbsp;</text>
            }
            <form class="inline-block" onsubmit="return confirm('Удалить фото?')"
                asp-controller="Photos" asp-action="DeletePhoto" asp-route-id="@Model.Photo.Id">
                <button type="submit" class="link-button">Удалить фото</button>
            </form>
        </div>
    </div>
</div>
