@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model PhotoIndexModel
@{
    ViewData["Title"] = "Все фото";
}

<div class="container">
    @if (Model.Photos.Any())
    {
        <div class="topMargin">
            @foreach (var item in Model.Photos)
            {
                <div class="pull-left col-md-4">
                    <div>
                        <a asp-controller="Photos" asp-action="GetPhoto" asp-route-id="@item.Id">
                            <img class="photoPreview" src="@("/photos/" + item.Id)"/>
                        </a>
                    </div>
                    <div>
                        <div class="h5">@item.Title</div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row h-100 justify-content-center topMargin">
            @if (User.Identity.IsAuthenticated)
            {
                <text>Ничего не найдено...</text>
                @if ((await AuthorizationService.AuthorizeAsync(User, "CanAddPhoto")).Succeeded)
                {
                    <text>&nbsp;<a asp-controller="Photos" asp-action="AddPhoto">Загрузите</a>&nbsp; свои фото</text>
                }
            }
            else
            {
                <text><a asp-area="Identity" asp-page="/Account/Login">Войдите</a>, чтобы увидеть свои фото</text>
            }
        </div>
    }
</div>